.alignsea{
	padding-left:20%; 


}
.alignsea1 {
	padding-left:40%; 


}

.overflow-div1{
       overflow-y:scroll;
       height:274.5px;

}

.alignse{
	padding-left: 15%;

}
.extra {
	padding-left: 3%;
	display: absolute;
}

